@import "tailwindcss";

@theme {
  --color-primary: #0e1a28;
  --color-secondary: #8a5100;
  --color-secondary-container: #FFD814;
  --color-on-secondary-container: #1a1c1c;
  --color-surface: #ffffff;
  --color-surface-container: #f9f9f9;
  --color-outline-variant: #e2e2e2;
  --color-on-surface-variant: #666666;

  --font-sans: "Work Sans", "sans-serif";
  --font-serif: "Playfair Display", "serif";
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
